<div class="col-md-12 row">

  <div class="col-md-12">
    <div class="btnContainer"><button class="btn btn-primary"> Add Order</button></div>
    <p-panel header="Order Details">
      <!-- <button class="btn btn-danger" (click)="addUser()"> Add User</button> -->

      <p-table [value]="orders">
        <ng-template pTemplate="header">
          <tr>
            <th class="hidden">Order Id</th>
            <th style="width:200px;">Consumer Name</th>
            <th style="width:200px;">Address</th>
            <th style="width:150px;">Complaint</th>
            <th>Assigned To</th>
            <th>Order Status</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td class="hidden">{{order.orderId}}</td>
            <td>{{order.consumerName}}</td>
            <td>{{order.address}}</td>
            <td>{{order.complaint}}</td>
            <td>{{order.assignedTo}}</td>
            <td>{{order.orderStatus}}</td>
            <td class="actions"><span class="fa fa-fw fa-edit"></span>
              <span class="fa fa-fw fa-remove"></span>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </p-panel>
  </div>
</div>