<div class="headerContainer col-md-12 row">
    <div class="col-md-10">
        <span><img src="../assets/logo1.png" width="60" /></span>
        <h4>SQUIRREL SERVICES</h4>
    </div>
    <div class="col-md-2 logout">
        <span>Logout</span>
    </div>
</div>
<p-sidebar [(visible)]="display" styleClass="sidebarContainer">
    <div class="col-md-12 noPadding menuContainer">
        <p-megaMenu [model]="items" [orientation]="vertical"></p-megaMenu>
    </div>
</p-sidebar>

<div class="col-md-12 row noPadding">
    <div class="col-md-1">
        <button type="text" (click)="display = true" pButton icon="pi pi-plus" label="Menu"></button>
    </div>
    <div class="col-md-11">
        <router-outlet></router-outlet>
    </div>
</div>