.headerContainer {
    height: 80px;
    background: #457fca;
    border: 1px solid #c8c8c8;
    margin-bottom: 20px;
    padding-left: 20px;
    z-index: 9999;
    position: relative;
}

.headerContainer span{
    float: left;
    margin-top: 10px;
}

.headerContainer h4{
    margin-top: 25px;
    margin-left: 15px;
    float: left;
}
.noPadding {
    padding: 0;
}
h4 {
    color: #ffffff;
}

/deep/ body .ui-megamenu {
    border: 0 !important;
    margin-top: 80px; 
    background-color: #fcfcfc; 
}

/deep/ body .ui-sidebar {
    background-color: #f4f4f4; 
}

.logout {
    text-align: right;
    color: #ffffff;
}

